<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/style-index.css">

  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <title>Timinuto</title>
</head>

<body>

  <!-- header section starts  -->

<header>

    <a href="#" class="logo"><span>Timi</span>nuto</a>

    <input type="checkbox" id="menu-bar">
    <label for="menu-bar" class="fas fa-bars"></label>

    <nav class="navbar">
        <a href="/">Home</a></li>
      {{#if user }}
        <a href="/profile">Profile</a></li>
        <a href="/auth/logout">Logout</a></li>
      {{else}}
        <a href="/login">Login</a></li>
        <a href="/register">Register</a></li>
      {{/if}}
    </nav>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        <h3>Improve Your TAQ:  <span>Time Awarness Quotient</span></h3>
        <p>Timinutio gives you a better judgment on how much time you spend on your daily tasks.</p>
       
    </div>

    <div class="image">
         <img src="images/background.png">
    </div>

</section>

<!-- home section ends -->


<!-- features section starts  -->

<section class="features" id="features">

    <h1 class="heading"> APP FEATURES </h1>

    <div class="box-container">

        <div class="box">
            <img src="images/register.png" alt="">
            <h3>Registery system</h3>
            <p>Users can create personal account where they can have their own personalised data.</p>
        </div>

        <div class="box">
            <img src="images/stopwatch.png" alt="">
            <h3>StopWatch</h3>
            <p>Users can use the stop watch to record the time they spend doing a task and add it in the inpout section where will direclty add the data to reports page.</p>
        </div>

        <div class="box">
            <img src="images/todo.png" alt="">
            <h3>Todo List</h3>
            <p>A to-do list that helps you track your tasks in one place.</p>
        </div>

    </div>

</section>

<!-- features section ends -->


<!-- footer section starts  -->

<div class="footer">

    <div class="box-container">

        <div class="box">
            <h3>About Us</h3>
            <p>This website is built to help people that have diffculty estimating how long it takes them to finish a task and also help the know how long they spend on each task. Timinutio was inpired to help people that have been affected by the panadmic and people who work/study/stay at home by imporving their time awarness so do their tasks productively and without loosing motivation, plus they can free up for the things they love</p>
        </div>

        
        <div class="box">
            <h3>Contact Info</h3>
            <div class="info">
                <i class="fas fa-phone"></i>
                <p> +111-111-111 <br></p>
            </div>
            <div class="info">
                <i class="fas fa-envelope"></i>
                <p> avocadoclouds@gmail.com <br> </p>
            </div>
            <div class="info">
                <i class="fas fa-envelope"></i>
                <a href="https://github.com/avocadoclouds">Github</a> <br>
            </div>
        </div>

    </div>

    <h4 class="credit"> &copy; copyright @ 2022 avocadoclouds </h4>

</div>

<!-- footer section ends -->





 




  
  

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
</body>
</html>



