<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatiable" content="IE-edge"
  <link rel="stylesheet" href="/public/todo.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/style-timer.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <title> Timinuto: Dashboard</title>
</head>


<body>
  {{!-- navigation html --}}
  <section class="navigation">
    <nav>
      <h2>Timinuto</h2>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/reports">Reports</a></li>
        <li><a href="/auth/logout">Logout</a></li>
      </ul>
    </nav>
  </section>

  {{!-- hello user html --}}

  <section class="welcome-user">
    <div class="greeting">
      <h4 class="card-title"> Hello {{user.name}}</h4>
    </div>
  </section>

  {{!-- timer and timer input html --}}

  <section class="clock">
    <div class="watch">
      <div class="time">
        00:00:00
      </div>

      <div class="controls">
        <button id="start">Start</button>
        <button id="stop">Stop</button>
        <button id="reset">Reset</button>
      </div>

    </div>
      
   
    <div class="timeinput">
      <form class="row g-3" action="/auth/add" method="POST">
        <div class="col-auto">
          <input type="text" class="form-control" id="inputPassword2" name="taskname" placeholder="Task Name">
        </div>
        <div class="col-auto">
          <input type="text" class="form-control" id="inputPassword2" name="time" placeholder="Time in minutes">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">Add</button>
        </div>
      </form>
    </div>
  </section>

  {{!-- to do list html --}}

  <section class="todo">

    <div class="wrapper">
      <div class="task-input">
        <!-- <img src="bars-icon.svg" alt="icon"> -->
        <input type="text" placeholder="Add a new task">
      </div>
      <div class="controls">
        <div class="filters">
          <span class="active" id="all">All</span>
          <span id="pending">Pending</span>
          <span id="completed">Completed</span>
        </div>
        <button class="clear-btn">Clear All</button>
      </div>
      <ul class="task-box"></ul>
    </div>



    {{!-- <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="statusoftask">
          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Status</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        
      </div>

    </div>
   --}}

  </section>

  {{!-- notes and spotify html --}}
  <section class="left-side">
    <div class="notes">
      hhhhh
    </div>


    <div class="spotify">
      hhhhhh
    </div>


  </section>
  
  {{#if message }}
      <h4 class="alert alert-danger mt-4">{{message}}</h4>
    {{/if}}
  
  <script src="script.js"></script>
  <script src="script-todo.js"></script>
  <script src="script-time.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="/public/todo.js"></script>
</body>
</html>